name: Deploy GitHub Pages

on:
  push:
    branches:
      - main
      - strweb/lr1

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: STRWEB/LR1

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
